@import "tailwindcss";

:root {
  --text: #ffffff;
  --bg: #000000;

  --active: #ff2a70;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-ubuntu);
  /* --font-mono: var(--font-geist-mono); */
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

.pattern-sm {
  /* background-image: url("../../public/assets/bg/pattern_small.jpg"); */
  background-image: url("/assets/bg/pattern_small.jpg");
  background-size: 2%;
}

body {
  background: var(--bg);
  color: var(--text);
  /* font-family: Arial, Helvetica, sans-serif; */
}

.colActive {
  color: var(--active);
}

.bgActive {
  background-color: var(--active);
}
