@import "tailwindcss";

:root {
  --text: #ffffff;
  --bg: #000000;

  --active: #ff2a70;
  --headerHeight: 11vh;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-ubuntu);
  /* --font-mono: var(--font-geist-mono); */
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

.pattern-sm {
  /* background-image: url("../../public/assets/bg/pattern_small.jpg"); */
  background-image: url("/assets/bg/pattern_small.jpg");
  background-size: 2%;
}

.footer-bg{
  background-image: url("/assets/bg/footerbg.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  &::after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000000e5;
  }
  & > * {
    position: relative;
    z-index: 1;
  }
}

body {
  background: var(--bg);
  color: var(--text);
  /* font-family: Arial, Helvetica, sans-serif; */
}

@media (max-width: 767px) {
  /*scroll lock*/
  html:has(.menuOpen) {
    overflow: hidden;
  }
}

.colActive {
  color: var(--active);
}

.bgActive {
  background-color: var(--active);
}

.isCurrentPage {
  color: var(--active);

  /* This is incredibly painful*/
  /* background-image: url("/assets/bottom_line2.png");
  &::before {
    content: "";
    overflow: visible;
    position: absolute;
    width: 15vw;
    height: 2ch;
    transform: translateY(120%) translateX(-50%);
    background-image: url("/assets/bottom_line2.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
  } */
}

.hoverPinkLine {
  border-style: solid;
  border-width: 3px 0;
  border-color: transparent;
  content: "";
  transition: all 0.5s ease-in-out;
  position: relative;
  overflow: hidden;

  &::after,
  &::before {
    content: "";
    position: absolute;
    height: 100%;
    aspect-ratio: 1/1;
    background: var(--active);
    opacity: 0;
    transition: all 0.5s ease-in-out;
  }
  &::after {
    top: 0;
    left: 0;
    transform: translateX(-100%) translateY(-100%) rotate(45deg) scale(0);
  }
  &::before {
    bottom: 0;
    right: 0;
    transform: translateX(100%) translateY(100%) rotate(45deg) scale(0);
  }

  &:hover {
    border-color: var(--active);
    &::after,
    &::before {
      opacity: 1;
    }

    &::after {
      transform: translateX(-80%) translateY(-80%) rotate(45deg) scale(1);
    }
    &::before {
      transform: translateX(80%) translateY(80%) rotate(45deg) scale(1);
    }
  }
}

.hoverPinkTransparent {
  border-style: solid;
  border-width: 3px 0;
  border-color: var(--active);
  content: "";
  position: relative;
  overflow: hidden;

  &::after,
  &::before {
    content: "";
    position: absolute;
    height: 100%;
    aspect-ratio: 1/1;
    background: var(--active);
    opacity: 0;
    transition: all 0.5s ease-in-out;
  }
  &::after {
    top: 0;
    left: 0;
    transform: translateX(-100%) translateY(-100%) rotate(45deg) scale(0);
  }
  &::before {
    bottom: 0;
    right: 0;
    transform: translateX(100%) translateY(100%) rotate(45deg) scale(0);
  }

  &.isHovered {
    &::after,
    &::before {
      opacity: 1;
    }

    &::after {
      transform: translateX(-80%) translateY(-80%) rotate(45deg) scale(1);
    }
    &::before {
      transform: translateX(80%) translateY(80%) rotate(45deg) scale(1);
    }
  }
}

.hoverPinkLine:hover {
  background: rgb(12, 12, 12);
}

.pinkLine {
  /* outline: 3px solid var(--active); */
  border-style: solid;
  border-width: 3px 0;
  border-color: var(--active);
  box-sizing: border-box;
  position: relative;
  overflow: hidden;
  &::after,
  &::before {
    content: "";
    position: absolute;
    height: 100%;
    aspect-ratio: 1/1;
    background: var(--active);
  }

  &::after {
    top: 0;
    left: 0;
    transform: translateX(-70%) translateY(-70%) rotate(45deg);
  }
  &::before {
    bottom: 0;
    right: 0;

    transform: translateX(70%) translateY(70%) rotate(45deg);
  }
}

.currentTrack {
  position: relative;
  overflow: hidden;
  &::after,
  &::before {
    content: "";
    position: absolute;
    height: 50%;
    aspect-ratio: 1/1;
    background: var(--active);
  }

  &::after {
    top: 0;
    left: 0;
    transform: translateX(-70%) translateY(-70%) rotate(45deg);
  }
  &::before {
    bottom: 0;
    right: 0;

    transform: translateX(70%) translateY(70%) rotate(45deg);
  }
}

.pageHeadline {
  position: relative;
  background: linear-gradient(rgba(0, 0, 0, 0.85), rgba(0, 0, 0, 0.85)),
    url("/assets/bg/footerbg.jpg");
  background-size: cover;
  background-position: center;
}

.minusHeaderHeight {
  height: calc(100vh - var(--headerHeight)) !important;
}

.mobileMinusHeaderHeight {
  @media (max-width: 768px) {
    height: calc(100vh - var(--headerHeight) - 50px) !important;
  }
}

.eventSlide {
  /* mobile: full width, no margins */
  display: flex;
  flex-direction: row;
  width: 100%;
  flex-shrink: 0;
  padding-left: 10%;
  padding-right: 10%;

  @media (min-width: 768px) {
    /* tailwind:md */
    width: 50%;

    &:nth-child(odd) {
      padding-left: 10%;
      padding-right: 2%;

      /* background-color: blue; */
    }
    &:nth-child(even) {
      padding-right: 10%;
      padding-left: 2%;
      /* background-color: red; */
    }
  }

  @media (min-width: 1024px) {
    /* tailwind:lg */
    &:nth-child(odd) {
      padding-left: 10%;
      /* padding-right: 2%; */
    }
    &:nth-child(even) {
      padding-right: 10%;
      /* padding-left: 2%; */
    }
  }

  @media (min-width: 1280px) {
    /* tailwind:xl */
    &:nth-child(odd) {
      padding-left: 15%;
      /* padding-right: 2%; */
    }
    &:nth-child(even) {
      padding-right: 15%;
      /* padding-left: 2%; */
    }
  }

  @media (min-width: 1536px) {
    /* tailwind:2xl */
  }
}

.eventSlider {
  display: flex;
  flex-direction: row;
}

/*play button conditional, ville ikke virke med tailwind*/
[data-paused] > .play-icon {
  display: block;
}

[data-paused] > .pause-icon {
  display: none;
}

:not([data-paused]) > .play-icon {
  display: none;
}

:not([data-paused]) > .pause-icon {
  display: block;
}

/*mute button conditional, ville ikke virke med tailwind*/
[data-muted] > .volume-icon {
  display: none;
}

[data-muted] > .muted-icon {
  display: block;
}

:not([data-muted]) > .volume-icon {
  display: block;
}

:not([data-muted]) > .muted-icon {
  display: none;
}

.table-mask {
  mask-repeat: no-repeat;
  mask-size: 100% 100%;
  mask-position: center;
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  -webkit-mask-position: center;
  transition: scale 0.2s ease-in-out;
  &.active,
  &:has(.hoverChild:hover) {
    scale: 102%;
  }
  @media (max-width: 767px) {
    &.active,
    &:has(.hoverChild:hover) {
      scale: 155%;
    }
  }
}

/*disable increment buttons for input type=number:*/
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
