@import "tailwindcss";

:root {
  --text: #ffffff;
  --bg: #000000;

  --active: #ff2a70;
  --headerHeight: 11vh;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-ubuntu);
  /* --font-mono: var(--font-geist-mono); */
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

.pattern-sm {
  /* background-image: url("../../public/assets/bg/pattern_small.jpg"); */
  background-image: url("/assets/bg/pattern_small.jpg");
  background-size: 2%;
}

body {
  background: var(--bg);
  color: var(--text);
  /* font-family: Arial, Helvetica, sans-serif; */
}

.colActive {
  color: var(--active);
}

.bgActive {
  background-color: var(--active);
}

.isCurrentPage {
  color: var(--active);

  /* This is incredibly painful*/
  /* background-image: url("/assets/bottom_line2.png");
  &::before {
    content: "";
    overflow: visible;
    position: absolute;
    width: 15vw;
    height: 2ch;
    transform: translateY(120%) translateX(-50%);
    background-image: url("/assets/bottom_line2.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
  } */
}

.pinkLine {
  /* outline: 3px solid var(--active); */
  border-style: solid;
  border-width: 3px 0;
  border-color: var(--active);
  box-sizing: border-box;
  position: relative;
  overflow: hidden;
  &::after,
  &::before {
    content: "";
    position: absolute;
    height: 100%;
    aspect-ratio: 1/1;
    background: var(--active);
  }
  &::after {
    top: 0;
    left: 0;
    transform: translateX(-70%) translateY(-70%) rotate(45deg);
  }
  &::before {
    bottom: 0;
    right: 0;
    transform: translateX(70%) translateY(70%) rotate(45deg);
  }
}
